<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
    
    
</head>
<body>
<div class="container">
    <div class="head">
    <h1>Add Questions</h1>
   
    
    <span>No of Questions: </span><span>{{count}}</span>
    <p class="mt-3"><a href=".">Goto Quiz</a> &nbsp;&nbsp; <a href="logout">Logout</a></p>
    </div>
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
        {{message}}
        </div>
    {% endfor %}
    <div class="qst">
       <form method="post">{% csrf_token %} 
        <input name="qst" type="text" class="form-control mb-3 mt-3" placeholder="Question" required>
        <div class="ans">
            <input name="a" type="text" class="form-control mb-3" placeholder="Option A" required>
            <input name="b" type="text" class="form-control mb-3 " placeholder="Option B" required>
            <input name="c" type="text" class="form-control mb-3 " placeholder="Option C" required>
            <input name="d" type="text" class="form-control mb-3 " placeholder="Option D" required>
            

            <div class="input-group mb-3" style="width: 50%;">
                <label class="input-group-text" for="inputGroupSelect01">Currect Answer</label>
                <select name="ans" class="form-select" id="inputGroupSelect01">
                    <option selected>A</option>
                    <option >B</option>
                    <option >C</option>
                    <option>D</option>
                </select>
              </div>

            
            <input name="time" type="number" class="form-control mb-3 " placeholder="Time in seconds" required>
       
        </div>

            <button class="btn btn-success" type="submit">Submit</button>
       </form>
        
    </div>
                    
</div>


<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>