<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
</head>
<body>
    <div class="position-absolute top-50 start-50 translate-middle tick">
        {% if count == 0 %}
        <div class="alert alert-info" role="alert">
            <p>No Questions available!</p>
            <a class="btn btn-link mt-3" href="add_qst">Add Questions?</a>
        </div>
        {% else %} 
        <img  src="{% static 'images/tick.gif' %}" alt="">
        <h1>Well Done</h1>
        
        <h4>Excellent! You Are Great In Grammar</h4>
        <h5 >Your Sore <span>{{score}}/{{count}}</span></h5> 
        <a href="send_email" class="btn btn-warning" type="button">Email Your Score</a>
        {% endif %}
<br>
        <a class="btn btn-link mt-3 text-center" href="logout">Logout</a>
    </div>
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">
                        {{message}}
                        </div>
                    {% endfor %}


<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>